@tailwind base;
@tailwind components;
@tailwind utilities;

.Header {
  @apply bg-[#70AA77] w-[1980px] h-[80px] mx-auto flex items-center;
}

.logo {
  width: 220px;
  height: 190px;
  @apply absolute top-[px] object-contain ml-1
}